aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated_types
asyncpg
attr
attrs
certifi
dotenv
frozenlist
greenlet
idna
magic_filter
multidict
propcache
pydantic
pydantic_core
sqlalchemy
typing_extensions.py
typing_inspection
yarl
